{% extends "app/home.html" %}

{% block articlelist %}
    <body>
        {{block.super}}
        {% if articles %}
            <div class="grid-container">
            {% for article in articles %}
                <div class="grid-item">
                    <button class="button" style="vertical-align:middle" onclick="window.location.href = '{% url 'content_view' article.id %}';">
                        <span>{{ article.title }}</span>
                    </button> 
                </div>
            {% endfor %}
            </div>
        {% else %}
        <p>No articles are available.</p>
        {% endif %}
    </body>
{% endblock %}
