{% extends "app/home.html" %}

{% block articlelist %}
    <body>
        {{block.super}}
        {% if articles %}
            {% for article in articles %}
            <div class="grid-container">
                <div class="grid-item">
                    <a href="{% url 'content_view' article.id %}">
                        <button class="button" style="vertical-align:middle"><span>{{ article.title }}</span></button> 
                    </a>
                </div>
            {% endfor %}
        </ul>
        {% else %}
        <p>No articles are available.</p>
        {% endif %}
    </body>
{% endblock %}
